/* single developer cart design */

.developer{
 
    box-shadow: 4px 4px 7px dimgray;
    padding: 10px 5px;
    
    border-radius: 10px;
    text-align: center;
  
}
.developer:hover {
    
    box-shadow: 4px 4px 7px darkslategrey;
    border-radius: 10px;
    border: 1px solid blueviolet;
    
  }
.developer img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.developer-name{
    color: blue;
    font-weight: 400;
}

/* button */
.btn-regular{
    background-color: goldenrod;
    width: 170px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

/* fontawesome icon */
.icon-color{
    color: gold;
    font-size: 16px;
}
.icon a {
    margin-right: 20px;
    text-decoration: none;
    color: lightslategray;
    
}